.landing-page {
  height: 100vh;
  background-image: url('../../assets/images/wallpaper.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}